<launch>
	<param name="/use_sime_time" value="true"/>

	<!-- FRAME ARGUMENTS -->
	<arg name="slam_frame" default="/slam_map"/>

	<!-- INPUT CLOUD ARGUMENTS -->
	<arg name="slam_cloud"/>

	<!-- PUBLISH INITIAL GUESS POINT CLOUD ONCE -->
	<node pkg="pcl_ros" type="pcd_to_pointcloud" name="initial_pointcloud_publisher_freiburg" args="$(arg slam_cloud)">
		<remap from="/cloud_pcd" to="/cloud_in" /> 
		<param name="frame_id" type="string" value="$(arg slam_frame)" />
	</node>
</launch>
