<launch>
	<param name="/use_sime_time" value="true"/>
	
	<!-- FRAME ARGUMENTS -->
	<arg name="initial_frame" default="/initial_map"/>
	<arg name="slam_frame" default="/slam_map"/>

	<!-- OCTOMAP ARGUMENTS -->
	<arg name="resolution" default="0.10"/>

	<!-- ALIGNMENT ARGUMENTS -->
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0"/>
	<arg name="r" default="0"/>
	<arg name="p" default="0"/>
	<arg name="yaw" default="0"/>

	<!-- INPUT CLOUD ARGUMENTS -->
	<arg name="initial"/>


<!-- OPEN RVIZ-->
<node pkg="rviz" type="rviz" name="rviz"/>


<!-- STATIC TF PUBLISHER TO ALIGN INITIAL MAP WITH RGB-D SLAM MAP-->
<node pkg="tf" type="static_transform_publisher" name="initial_map_2_map" args="0 0 0 0 0 0 /map $(arg initial_frame) 1"/>

<node pkg="tf" type="static_transform_publisher" name="rgbdslam_map_2_map" args="$(arg x) $(arg y) $(arg z) $(arg r) $(arg p) $(arg yaw) /map $(arg slam_frame) 1"/>


<!-- START OCTOMAP SERVER -->
<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="$(arg resolution)" /> <!-- OctoMap resolution -->
		
	<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
	<param name="frame_id" type="string" value="/map" />
	<param name="filter_ground" value="false" /><!-- who knows where the floor is? -->
    <param name="base_frame_id" value="/base_link" /> <!--needs to be set, even if not used-->
    <param name="sensor_model/max_range" value="-1" />
    <param name="sensor_model/hit" value="0.8" />
    <param name="sensor_model/miss" value="0.3" />	
</node>

</launch>
