<launch>
	<param name="/use_sime_time" value="true"/>

	<!-- FRAME ARGUMENTS -->
	<arg name="initial_frame" default="/initial_map"/>

	<!-- INPUT CLOUD ARGUMENTS -->
	<arg name="initial"/>

	<!-- PUBLISH INITIAL GUESS POINT CLOUD ONCE -->
	<node pkg="pcl_ros" type="pcd_to_pointcloud" name="initial_pointcloud_publisher_freiburg" args="$(arg initial)">
		<remap from="/cloud_pcd" to="/cloud_in" /> 
		<param name="frame_id" type="string" value="$(arg initial_frame)" />
	</node>
</launch>
