
<launch>
	<param name="/use_sime_time" value="true"/>
	<arg name="cpu_bagname" default="cpu_bag"/>

<!-- Record CPU usage -->
	<!--<node pkg="rosbag" type="record" name="CPU_rosbag"
	       args="record -O /home/michiel/cpu_analysis/$(arg cpu_bagname) /diagnostics"/> 

	<node pkg="pr2_computer_monitor" type="cpu_monitor.py" name="CPU_monitor"/> -->

<!-- OPEN RVIZ-->
<node pkg="rviz" type="rviz" name="rviz"/>

<!-- START OCTOMAP SERVER -->
<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value= "0.05"/> <!-- OctoMap resolution -->
		
	<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
	<param name="frame_id" type="string" value="/world" />
	<param name="filter_ground" value="false" /><!-- who knows where the floor is? -->
    <param name="base_frame_id" value="/kinect" /> <!--needs to be set, even if not used-->
    
	<param name="sensor_model/max_range" value="-1" />
    <param name="sensor_model/hit" value="0.8" />
    <param name="sensor_model/miss" value="0.3" />


    <param name="latch" value="false" />
</node>

<!-- STATIC TF PUBLISHERS TO ALIGN INITIAL MAP WITH RGB-D SLAM MAP-->

<node pkg="tf" type="static_transform_publisher" name="initial_map_2_map" args="-2.2 2.5 0 -1.5708  0 0 /world /initial_map 1"/>


<!-- PUBLISH INITIAL GUESS POINT CLOUD ONCE -->
<!--<node pkg="pcl_ros" type="pcd_to_pointcloud" name="initial_pointcloud_publisher" args="/home/michiel/initial_guess_models/freiburg1/freiburg1_no_ceiling.pcd">
	<remap from="/cloud_pcd" to="/cloud_in" /> 
	<param name="frame_id" type="string" value="/initial_map" />
</node>-->

<!-- RUN RGB-D SLAM -->
<node pkg="rgbdslam" type="rgbdslam" name="rgbdslam" cwd="node" required="true" output="screen"> 
	
	<!-- Input data settings-->
		<param name="config/topic_image_mono"              value="/camera/rgb/image_color"/> 
		<param name="config/topic_image_depth"             value="/camera/depth/image"/>
		<param name="config/maximum_depth"         		value="8.0"/>
		<param name="config/minimum_depth"         		value="0.4"/>
		<param name="config/cloud_creation_skip_step"      value="4"/>

	<!-- Output data settings-->
		<!--<param name="config/send_clouds_rate"         	value="15"/>-->
	
	<!-- OctoMap data settings-->

	<!-- TF information settings-->
		<param name="config/fixed_frame_name"        value="/world"/>

		
	<!-- Visual Features-->
		<param name="config/feature_extractor_type"        value="SIFTGPU"/>
		<param name="config/feature_detector_type"         value="SIFTGPU"/>
		<param name="config/matcher_type"         	value="FLANN"/>

		<param name="config/max_keypoints"                 value="1000"/>

		<param name="config/use_feature_mask"                   value="true"/>

	<!-- Frontend settings -->
		<param name="config/use_icp"         	value="true"/>
		<param name="config/icp_method"         value="gicp"/>
		<param name="config/g2o_transformation_refinement"         value="15"/>

	<!-- Backend settings-->

	<!-- Robot odometry options-->

	<!-- Visualization Settings -->
		<param name="/config/use_gui" value="true"/> <!-- hide/show GUI -->
	<!-- Misc -->

	<!-- Debug-->

	<remap from="/rgbdslam/online_clouds" to="/cloud_in" />

</node>

<!-- PLAY THE DATASET -->
<node pkg="rosbag" type="play" name="play_dataset_freiburg1_room"
	    args="--clock /home/michiel/bagfiles/freiburg/freiburg1_room/rgbd_dataset_freiburg1_room.bag -r 0.75"/>
</launch>

