
<launch>
	<param name="/use_sime_time" value="true"/>
	<arg name="cpu_bagname" default="cpu_bag"/>

<!-- OPEN RVIZ-->
<node pkg="rviz" type="rviz" name="rviz"/>

<!--<node pkg="tf" type="static_transform_publisher" name="base_frame_2_map" args="0 0 0 0 0 0 1 /map /base_frame" />-->

<!-- STATIC TF PUBLISHER TO ALIGN INITIAL MAP WITH RGB-D SLAM MAP-->
<node pkg="tf" type="static_transform_publisher" name="initial_map_2_map" args="0 0 0 0 0 0 /map /initial_map 1"/>

<node pkg="tf" type="static_transform_publisher" name="rgbdslam_map_2_map" args="-0.50 0 2 -1.92 3.10 0.1 /map /rgbdslam_map 1"/>

<!-- PUBLISH INITIAL GUESS POINT CLOUD ONCE -->
<node pkg="pcl_ros" type="pcd_to_pointcloud" name="initial_pointcloud_publisher" args="/home/michiel/initial_guess_models/train/complete_train_v2.pcd">
	<remap from="/cloud_pcd" to="/cloud_in" /> 
	<param name="frame_id" type="string" value="/initial_map" />
</node>

<!-- PUBLISH RGB-D SLAM POINT CLOUD ONCE -->
<node pkg="pcl_ros" type="pcd_to_pointcloud" name="rgbdslam_pointcloud_publisher" args="/home/michiel/RESULTS/train/no_pauses/bag2/result7/train_result.pcd">
	<remap from="/cloud_pcd" to="/cloud_in" /> 
	<param name="frame_id" type="string" value="/rgbdslam_map" />
</node>-->

<!-- START OCTOMAP SERVER -->
<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.05" /> <!-- OctoMap resolution -->
		
	<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
	<param name="frame_id" type="string" value="/map" />
	<param name="filter_ground" value="false" /><!-- who knows where the floor is? -->
    <param name="base_frame_id" value="/base_link" /> <!--needs to be set, even if not used-->
		
</node>

</launch>
