
<launch>
	<param name="/use_sime_time" value="true"/>
	<arg name="cpu_bagname" default="cpu_bag"/>

<!-- Record CPU usage -->
	<!--<node pkg="rosbag" type="record" name="CPU_rosbag"
	       args="record -O /home/michiel/cpu_analysis/$(arg cpu_bagname) /diagnostics"/> 

	<node pkg="pr2_computer_monitor" type="cpu_monitor.py" name="CPU_monitor"/> -->

<!-- OPEN RVIZ-->
<node pkg="rviz" type="rviz" name="rviz"/>

<!--<node pkg="tf" type="static_transform_publisher" name="base_frame_2_map" args="0 0 0 0 0 0 1 /map /base_frame" />-->o

<!-- STATIC TF PUBLISHER TO ALIGN INITIAL MAP WITH RGB-D SLAM MAP-->
<node pkg="tf" type="static_transform_publisher" name="initial_map_2_map" args="0 0 0 0 0 0 /map /initial_map 1"/>

<node pkg="tf" type="static_transform_publisher" name="rgbdslam_map_2_map" args="4.1 5.1 1.45 3.15 2.65 0.07 /map /rgbdslam_map 1"/>

<!-- PUBLISH INITIAL GUESS POINT CLOUD ONCE -->
<node pkg="pcl_ros" type="pcd_to_pointcloud" name="initial_pointcloud_publisher" args="/home/michiel/initial_guess_models/V315/v315_v317_hall_no_ceiling.pcd">
	<remap from="/cloud_pcd" to="/cloud_in" /> 
	<param name="frame_id" type="string" value="/initial_map" />
</node>

<!-- PUBLISH RGB-D SLAM POINT CLOUD ONCE -->
<node pkg="pcl_ros" type="pcd_to_pointcloud" name="rgbdslam_pointcloud_publisher" args="/home/michiel/RESULTS/Ben/rgbdslam_final/rgbdslam_final.pcd">
	<remap from="/cloud_pcd" to="/cloud_in" /> 
	<param name="frame_id" type="string" value="/rgbdslam_map" />
</node>

<!-- START OCTOMAP SERVER -->
<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.06" /> <!-- OctoMap resolution -->
		
	<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
	<param name="frame_id" type="string" value="/map" />
	<param name="filter_ground" value="false" /><!-- who knows where the floor is? -->
    <param name="base_frame_id" value="/base_link" /> <!--needs to be set, even if not used-->
		
</node>

</launch>
